// Configuration for the NGS pipeline.

params {
    verbose = true
    printCopyMsgs = verbose
    // pipeline directory, for scripts/ folder
    pipelineDir = "$HOME/Software/ngspipeline"
	// base directory of the project, contains folders "fastq/", ...
	baseDir = "/srv/data/holtgrem/3248"
	outDir = baseDir
	// path to the FASTA dict
	genomeDict = "/home/ngsknecht/Resource/hg19/human_g1k_v37.dict"
    // path to the genome FASTA file to use for mapping against
    genome = "/home/ngsknecht/Resource/hg19/human_g1k_v37.fasta"
    // path to the DBSNP file to use for variant calling
    dbSnp = "/home/ngsknecht/Resource/dbsnp/human/dbSNP138.vcf"
    // path to CDDS BED file
    ccdsBED = "/home/ngsknecht/Resource/BED/CCDS/CCDS.20140728.merged.short.bed"
    // id for the run / wetlab id
    runID = "1234"

	oneKGenomes = "/home/ngsknecht/Resource/GATK/v37/1000G_phase1.indels.b37.vcf"
	mills = "/home/ngsknecht/Resource/GATK/v37/Mills_and_1000G_gold_standard.indels.b37.vcf"

    // configure expected resource usage
    cpus {
      fastqc = 8
      qualimap = 8
      trimming  = 8
      alignment {
      	map = 20
      	sort = 4
      }
      merging = 4
      postproc = 20
      variantCalling = 28
      vcfPostprocess = 4
    }
}
