// Configuration for the NGS pipeline.

params {
	// base directory of the project, contains folders "fastq/", ...
	baseDir = "$HOME/Projects/nextflow-test"
    // path to the genome FASTA file to use for mapping against
    genome = "$HOME/Data/Resource/hg19/human_g1k_v37.fasta"
    // path to the DBSNP file to use for variant calling
    dbSnp = "$HOME/Data/Resource/dbsnp/human/dbSNP138.vcf"
    // path to CDDS BED file
    ccdsBED = "$HOME/Data/Resource/BED/CCDS/CCDS.20140728.merged.short.bed"
    // id for the run / wetlab id
    runID = "1234"

    // configure expected resource usage
    cpus {
      fastqc = 4
      qualimap = 4
      trimming  = 4
      mapping = 4
      merging = 4
      postproc = 4
      variantCalling = 4
    }
}
